#include "/home/earving/.cache/wal/colors.Xresources"
! fonts
! run "fc-list" for a list of available fonts
URxvt*font: xft: SauceCodePro Nerd Font Mono:pixelsize=14
! URxvt.letterSpace: 0 
st.font: Iosevka Term SS05:pixelsize=16 

URxvt*termName: rxvt-unicode-256color
URxvt.cursorBlink: 1
!URxvt.cursorUnderline: 1
!URxvt.cursorColor: #9e9f90

URxvt*titleBar: false
URxvt*scrollBar: False
URxvt*scrollTtyOutput: False
URxvt*scrollTtyKeypress: True
URxvt*secondaryScroll: True
URxvt*saveLines: 8000
URxvt*letterSpace: -0.5

URxvt.geometry: 95x25

URxvt.keysym.Shift-Control-V: perl:clipboard:paste
URxvt.iso14755: False 
URxvt.perl-ext-common: default,clipboard,resize-font

/* URxvt.tabbed.autohide: true */
/* URXvt.tabbed.reopen-on-close: yes */
/* URxvt.keysym.Control-t: perl:tabbedex:new_tab */
/* URxvt.keysym.Control-Tab: perl:tabbedex:next_tab */
/* URxvt.keysym.Control-Shift-Tab: perl:tabbedex:prev_tab */

! Fonts config
Xft.autohint: 0
Xft.lcdfilter: lcdlight
Xft.hintstyle: hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb
Xft.dpi: 96

! ---------------------------------------------------------------------------
! Reload Config
! ---------------------------------------------------------------------------
! To reload Xresources
! xrdb ~/.Xresources
